.DS_Store
.DS_store
.DS_Store/
.DS_store/
*.lck
/Programming/pic_uC/controller.X/dist/
/Programming/pic_uC/controller.X/build/
/Programming/pic_uC/controller.X/nbproject/
*.properties
*.xml
/Programming/pic_uC/controller_old.X/build/
/Programming/pic_uC/controller_old.X/dist/